{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
If you could taste celebration it would taste like TASTE.

Taste Ice Cream was won by taste, innovation and quality. It’s a difference you can taste. Which is why we are so loved by our fans and continue to make new ones? Keeping with the times and changing tastes of customers, Taste Ice Cream, as an ice cream brand has come a long way. Fast moving ahead with its path-breaking innovations, strategic roadmap and fruitful partnerships, Taste is all set to become Central India's most loved ice cream brand.

All the standards of hygiene and quality control are observed at these plants. Taste has always adopted the latest and the most suitable technique for preparing its ice creams. The motto behind this is to give its customers the best products and retain a satisfactory smile on their faces. Taste scoops out lip-smacking variety of 100% vegetarian ice creams, sundaes, candy bars and novelties.
{% endblock body %}
