{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<p>
    The consumption pattern of people with regard to ice creams has changed over time. The worldwide consumption pattern of ice creams has phenomenally changed over the years with a growing preference for more exotic and unique flavors. India too has witnessed this change. The country has experienced a steady increase in the volume and the manner in which ice creams have been consumed. Hectic lifestyles, changing eating habits and tastes, the demand for reasonably priced high quality and delicious desserts has grown. With the average income on the rise and greater number of people visiting foreign countries, people today are more open to traveling and enjoying exotic desserts.

Taste Ice cream franchise is a low cost high return on investment option with a high degree of differentiation in the food industry. The franchise opportunity is open to all, even to those who have no prior experience in the restaurant business.

The stringent training guidelines, standardized operating procedures, backed by professional operations, sales, marketing and human resources team enable the franchisee to be a part of successful Ice cream business story.

</p>
<br>
<strong>Eligibility</strong><br>
li>Must be an outright corner shop / facing the main road</li>
                   	  <li>Carpet area should range from 750 to 1200 sq ft</li>
                    	  <li> Must be an exclusive Natural ice cream parlour; no shop-in-shop </li>
                    	  <li> concept or cross branding format will be considered</li>
                    	  <li> Space for car parking should be available</li>
                    	  <li> An investment of Rs 12 - 20 lacs required on the shop  (includes interiors &amp; equipments)</li>
                    	  <li> Prospective franchise should comply with Food &amp; Beverage background</li>
                    	  <li> Prospective shop / location should be at least 5-7 kms away from our existing outlet</li>
                    	  <li> Franchise holder should procure all statutory requirements (Food license, Shop &amp; Establishment license etc.)</li>
                    	  <li> No deposits or franchise fees are required</li>
                   	  <li> We are currently not considering any queries for franchise in malls or departmental / supermarket stores, 
                    	  hence applicants are requested to avoid the same</li>
                    	  <li> We are currently accepting any franchise queries for various parts of Central India.<br>
                    	    <br>
                    	  </li>

{% endblock body %}
